/*** sectioning elements ***/

body {
  text-align: center;
}

header {
  background-color: #095288;
}

main {

}

footer {
  background-color: #095288;
}

nav {

}

section {

}

aside {

}


/**** content styles ***/

h1 {
  font-family: 'Faster One', cursive;
  color: #DB0400;
  margin: 0;
  max-width: 100%;
  text-align: center;
}

h2 {
  color: #ffffff;
  font-size: 18px;
  margin: 0;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {
  margin: 0;
}

blockquote {

}

ol {

}

ul {

}

li {

}

table {

}

tr {

}

th {

}

td {

}

.navbar {
      background-color: #DB0400;
    }

    .navbar-brand {
      color: #fff;
    }

    .navbar-brand a:link,
    .navbar-brand a:visited {

    }

    .navbar-brand a:hover,
    .navbar-brand a:active {

    }

    .navbar-menu a:link,
    .navbar-menu a:visited {
      color: #000000;
    }

    .navbar-menu a:hover,
    .navbar-menu a:active {

    }

.tagline {
  color: #fff;
}

/*** image styles ***/

img  {
  max-width: 100%;
  margin: 0;
}


/*** link styles ***/

a:link {

}

a:visited {

}

a:hover {

}

a:active {

}
